<header class="position-fixed bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img
          src="../../assets/header/FarmFresh Logo.png"
          alt="Logo"
          id="Logo"
          class="m-auto"
          routerLink="/"
        />
      </div>
      <div class="col-md-4">
        <app-search></app-search>
      </div>
      <div class="col-md-5 d-flex justify-content-end">
        <img
          routerLink="/shopping"
          class="my-auto"
          src="../../assets/header/shopping-cart.png"
          id="Cart"
          alt="Cart"
        />
      </div>
    </div>
  </div>
</header>
