.container-modal {
    background-color: white;
    width: 70vw;
    border-radius: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .8) !important;
}

img {
    aspect-ratio: 1/1 !important;
    object-fit: cover;
    border: solid 2px #ccc;
    width: 100%;
}

.text-name {
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-size: 36pt;
}

.text-packet {
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-size: 24pt;
}

.text-other {
    font-family: 'Helvetica Neue Regular', sans-serif;
    font-size: 12pt;
}

#more {
    cursor: pointer;
}

.btn-close-red {
    background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='red'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>") center/1em auto no-repeat;
}

.box-funtion {
    font-family: 'Helvetica Neue Regular', sans-serif;
    font-size: 21pt;
    bottom: 0;
}

.box-qty {
    cursor: auto;
    pointer-events: none;
}

.select-qty {
    border: solid 2px black;
    background-image: none !important;
}